@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black text-white antialiased;
  }
}

/* Hide scrollbar for a cleaner look */
::-webkit-scrollbar {
  display: none;
}

.backdrop-blur-vision {
  backdrop-filter: blur(40px) saturate(180%);
  -webkit-backdrop-filter: blur(40px) saturate(180%);
}
