fastapi>=0.109.0
uvicorn[standard]>=0.27.0
transformers>=4.36.2
pillow>=10.3.0
sentence-transformers>=2.2.2
numpy>=2.1.0
python-multipart
aiofiles
sqlite-utils
watchdog
rich
mutagen
torch>=2.2.0
torchvision>=0.17.0
umap-learn
scikit-learn
tqdm
opencv-python
mediapipe
